.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}