@font-face {
  font-family: 'Kelly Slab';
  src: url('/fonts/KellySlab.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-kelly-400 {
  font-family: 'Kelly Slab', sans-serif;
  font-weight: 400;
}