@use '@/styles/pxToRem' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: rem(20);
  background: rgba(16, 16, 16, 0.5);
  font-size: rem(16);
  overflow: hidden;

  .logo {
    position: absolute;
    left: 0;
    margin-left: rem(100);
  }

  .list {
    display: flex;
    gap: rem(100);
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      cursor: pointer;
      position: relative;

      .hover {
        width: rem(42);
        height: rem(3);
        border-radius: 0 0 rem(10) rem(10);
        background: rgba(255, 149, 0, 1);
        position: absolute;
        top: rem(-20);
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        transition: transform 0.3s ease;
      }

      .text {
        font-size: rem(16);
        transition: color 0.3s ease;
        user-select: none;
      }

      &:hover {
        .hover {
          transform: translateX(-50%) translateY(0);
        }

        .text {
          color: rgba(255, 149, 0, 1);
        }
      }
      
      &:active {
        .hover {
          transform: translateX(-50%) translateY(0);
        }

        .text {
          transition: color 0s ease;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  &.active {
    border: rem(2) solid #000;
  }
}
