@use '@/styles/pxToRem' as *;
@use '@/styles/display' as *;

.about_me {
  width: rem(1150);
  padding-top: rem(160);
  margin: 0 auto;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1000;
    pointer-events: none;
  }

  .container {
    width: 100%;
    height: 100%;
    border-radius: rem(10);
    position: relative;
    z-index: 1;

    .header {
      @extend .display-flex-align-center;
      gap: rem(18);

      .line {
        width: rem(390);
        height: rem(1);
        border: rem(1) solid rgba(255, 149, 0, 1);
      }
    }
  }
}